@media screen and (orientation: portrait) {
    .content{
        flex-direction: column;
        align-items: center;
    }
    img{
        padding: 10px;
    }
    
    footer{
        margin-bottom: 10px;
    }
    body{
        height: 100%;
    }
}